.convo-container {
  background-color: var(--clr-bg-base-darker);
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.convo-container header {
  background-color: var(--clr-bg-base);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--shdw-header);
}

.convo-container header .left {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

header .left .back {
  color: var(--wht-8);
  font-size: 3.6rem;
  padding: 0.8rem;
  cursor: pointer;
}

header .left img {
  width: 4rem;
}

header .left h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--wht-8);
}

header .right {
  color: var(--wht-8);
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}

header .right svg {
  font-size: 3.6rem;
  padding: 0.8rem;
  cursor: pointer;
}

header .right .options {
  background-color: var(--clr-bg-base-lighter);
  border-radius: 0.3rem;
  position: absolute;
  overflow: hidden;
  right: 2rem;
  top: 1rem;
  z-index: -1;
  box-shadow: var(--shdw-header);
  transition: all 0.15s ease-in-out;
  opacity: 0;
}

header .right .options.show {
  top: 5rem;
  opacity: 1;
  z-index: 10;
}

.right .options p {
  white-space: nowrap;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.right .options p:hover {
  background-color: var(--clr-bg-base);
}
